/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px;
    padding: 10px;
    max-width: 1500px;
    background-color: #adad85;
}

.main {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 50px;
}

.main h2 {
    background-color: rgb(61, 185, 144);
    margin-bottom: 1.25rem;
}

.main p {
    margin-bottom: 5rem;
    font-size: 130%;
}

.main ul {
    font-size: 130%;
}